<div>
  <div>
    <h1>List Jobs</h1>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Bordered Table</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="width: 10px">ID</th>
          <th>Name</th>
          <th>description</th>
          <th style="width: 40px">Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody *ngFor="let product of products">
        <tr>
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.description}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.price}} $</td>
        </tr>

      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
  <div class="card-footer clearfix">
    <ul class="pagination pagination-sm m-0 float-right">
      <li class="page-item"><a class="page-link" (click)="firstPage()">&laquo;</a></li>
      <li class="page-item"><a class="page-link" (click)="previousPage()">Previous</a></li>
      <li class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
      <li class="page-item"><a class="page-link" (click)="lastPage()">&raquo;</a></li>
    </ul>
  </div>
</div>